h1 Write A New Category

form(method='POST', action='/categories')
  .input-group
    label(for='name') Name
    input#name(type='text', name='name')
  .input-group
    label(for='desc') Description
    input#desc(type='text', name='description')
  .input-group
    input(type='submit')
