if note
  h1 Edit Your Diary
else
  h1 New Diary Entry

- var item = note || {title: '', text: ''}
- var override = note ? '/' + note._id + '?_method=PUT' : ''

-// all forms in a jade file need body-parser to manipulates the data so we can use it
form(method='POST', action='/notes#{override}')
  .input-group
    label(for='title') Title
    input#title(type='text', name='title', placeholder='Enter Title', value='#{item.title}')
  .input-group
    label(for='text') Text
    textarea#text(name='text')= item.text
  .input-group
    input(type='submit', value='Save')
